<!-- Masthead -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>{{_i}}Ziff Davis Bootstrap{{/i}}</h1>
        <p>A forked Twitter Bootstrap</p>
        <p>HTML, CSS, and Javascript for popular user interface components and interactions</p>
        <p class="download-info">
            <a href="assets/bootstrap.zip" class="btn btn-primary btn-large">{{_i}}download compiled JS, CSS & Images{{/i}}</a>
            <a href="https://github.com/ziffdavis/bootstrap/" class="btn btn-large">{{_i}}get code from github{{/i}}</a>
        </p>
  </div>
</header>

<hr class="soften">

<div class="marketing">
    <h4><a href="http://twitter.github.com/bootstrap/" target="_blank">see Twitter's marketing stuff&hellip;</a></h4>
</div>